<section class="sign-up-page forget-page">
    <div class="content">
        <div class="row w-100 align-items-center">
            <div class="col-lg-6">
                <div class="sign-up-content">
                    <h1 class="sign-up-heading">Forget Your   <span class="d-block text-color">Password?</span></h1>
                    <p class="sign-up-text">No worries! Enter your email and we will <span class="d-md-block">send you a reset.</span></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sign-up-form">
                    <form [formGroup]="fogetPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group-custom">
                                    <label for="name" class="form-label label-custom">Email</label>
                                    <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$]*" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control input-custom" id="email" name="email" >
                                    <div *ngIf="submitted && f['email'].errors" class="text-danger">
                                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                        <div *ngIf="!f['email'].errors['email'] &&  f['email'].errors['pattern']">Email is invalid</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn submit-btn d-block w-100">Submit</button>
                                <p class="text-center login-now-text">Already a member? 
                                    <a  [routerLink]="['/login']"class="text-color" >Log In</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>