<div class="login-section" style="background-image:url(./assets/images/login-bg-banner.jpg);">
    <div class="container">
        <div class="container_inner_box">
            <div class="login-box">
                <div class="logo">
                    <img src="./assets/images/big-logo.png" alt="">
                </div>
            </div>
            <div class="form-box">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    
                    <div class="input-group">
                        <input formControlName="token" id="token" type="hidden" [(ngModel)]="resetToken"
                            class="form-control">
                        <input [type]="showPassword ? 'text' : 'password'" id="password"
                            class="form-control show_hide_password" placeholder="Password"
                            [ngClass]="{ 'is-invalid': isSubmitted && f['password'].errors }" formControlName="password"
                            class="form-control input-custom" id="password" name="password" />
                        <span toggle="#password" class="input-group-text password-eye"
                            [ngClass]="{ 'show': showPassword }" (click)="toggleShowPassword()"><img
                                src="./assets/images/eye-icon.png" alt=""></span>
                        <div *ngIf="submitted && f['password'].errors" class="text-danger">
                            <div *ngIf="f['password'].errors['required']">
                                Password is required
                            </div>
                            <div *ngIf="f['password'].errors['pattern']">
                                Password must contain more than 8 characters, 1 numeric, 1
                                capital letter and 1 special character($@!%*?&).
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirm_password"
                            class="form-control show_hide_password" placeholder="Confirm Password"
                            [ngClass]="{'is-invalid': isSubmitted && f['confirm_password'].errors}"
                            formControlName="confirm_password" class="form-control input-custom" id="confirm_password"
                            name="confirm_password" />
                        <span toggle="#confirm_password" class="input-group-text password-eye"
                            [ngClass]="{ 'show': showConfirmPassword }" (click)="toggleShowConfirmPassword()"><img
                                src="./assets/images/eye-icon.png" alt=""></span>
                        <div *ngIf="submitted && f['confirm_password'].errors" class="text-danger">
                            <div *ngIf="f['confirm_password'].errors['required']">
                                Confirm Password is required
                            </div>
                            <div *ngIf="f['confirm_password'].errors['matching']">
                                The password confirmation does not match
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-green login__btn">submit</button>
                </form>
                <p class="sign-text">Don't have an account? <a [routerLink]="['/login']">Sign Up</a></p>
            </div>

        </div>
    </div>
</div>