<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12">
      <div class="input-group">
        <input cFormControl [type]="showPassword ? 'text' : 'password'" id="current_password" class="form-control" formControlName="current_password"
          placeholder="Current Password"
          [ngClass]="{ 'is-invalid': submitted && f['current_password'].errors }" />
          <span toggle="#current_password" class="input-group-text password-eye"
							[ngClass]="{ 'show': showPassword }" (click)="toggleShowPassword()"><img
								src="./assets/images/eye-icon.png" alt=""></span>
        <div *ngIf="submitted && f['current_password'].errors" class="text-danger">
          <div *ngIf="f['current_password'].errors['required']">Current password is required</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input cFormControl [type]="showNewPassword ? 'text' : 'password'" id="new_password" formControlName="new_password" class="form-control"
          placeholder="New Password"
          [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }" />
          <span toggle="#new_password" class="input-group-text password-eye"
          [ngClass]="{ 'show': showNewPassword }" (click)="toggleNewShowPassword()"><img
            src="./assets/images/eye-icon.png" alt=""></span>
        <div *ngIf="submitted && f['new_password'].invalid" class="text-danger">
          <div *ngIf="f['new_password'].errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="f['new_password'].errors?.['pattern']">
            Password must contain more than 8 characters, 1 numeric,
            1 capital letter and 1 special character($@!%*?&)
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="input-group">
        <input cFormControl [type]="showNewConfirmPassword ? 'text' : 'password'" formControlName="confirm_password" class="form-control"
          placeholder="Confirm Password"
          [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors }" />
          <span toggle="#new_password" class="input-group-text password-eye"
          [ngClass]="{ 'show': showNewConfirmPassword }" (click)="toggleNewConfirmShowPassword()"><img
            src="./assets/images/eye-icon.png" alt=""></span>
        <div *ngIf="submitted && f['confirm_password'].invalid" class="text-danger">
          <div *ngIf="f['confirm_password'].errors?.['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirm_password'].errors?.['matching']">
            The password confirmation does not match
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="form-actions footer-action-change-password">
    <div class="col-sm-12">
      <button class="btn btn-green" type="submit">Save</button>&nbsp;
      <button class="btn btn-outline-red" type="button" routerLink="/dashboard">Cancel</button>
    </div>
  </div>
</form>