<div class="login-section" style="background-image:url(./assets/images/login-bg-banner.jpg);">
    <div class="container">
        <div class="container_inner_box">
            <div class="login-box">
                <div class="logo">
                    <img src="./assets/images/big-logo.png" alt="">
                </div>
            </div>

            <div class="form-box">
                <form [formGroup]="fogetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="input-group">
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" placeholder="Email" id="email" >
                        <div *ngIf="submitted && f['email'].errors" class="text-danger">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            <div *ngIf="!f['email'].errors['email'] &&  f['email'].errors['pattern']">Email is invalid</div>
                        </div>
                    </div>
                    <button class="btn btn-green login__btn">submit</button>
                </form>
                <p class="sign-text">Don't have an account? <a [routerLink]="['/login']">Sign Up</a></p>
            </div>

        </div>
    </div>
</div>