<div class="inner-bnnare bg-background" style="background-image: url(./assets/images/esg-inner-bnnare.jpg);">
    <div class="container"></div>
</div>


<div class="community-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 left">
                <div class="community-inner-left">
                    <div class="community-inner-userprofile" *ngIf="token">
                        <div class="user-img">
                            <img [src]="profile_image" alt="" *ngIf="profile_image && profile_image != ''">
                            <img src="./assets/images/profile-img.png" alt="" *ngIf="profile_image == ''">
                        </div>
                        <div class="user-text">
                            <strong>{{name}}</strong>
                            <p *ngIf="sponser_type && sponser_type == 1">Individual Sponsor</p>
                            <p *ngIf="sponser_type && sponser_type == 2">Corporate Sponsor</p>
                        </div>
                        <div class="user-footer" *ngIf="user_details">
                            <ul>
                                <li>
                                    <span>Volunteered Projects</span>
                                    <strong *ngIf="user_details.total_volunteer && user_details.total_volunteer != ''">
                                        {{user_details.total_volunteer}}
                                    </strong>
                                    <strong *ngIf="user_details.total_volunteer == ''">0</strong>
                                </li>
                                <li>
                                    <span>Causes Supported</span>
                                    <strong *ngIf="user_details.total_causes && user_details.total_causes != ''">
                                        {{user_details.total_causes}}
                                    </strong>
                                    <strong *ngIf="user_details.total_causes == ''">0</strong>
                                </li>
                                <li>
                                    <span>Amount Donated</span>
                                    <strong *ngIf="user_details.total_donation && user_details.total_donation != ''">
                                        ${{user_details.total_donation}}
                                    </strong>
                                    <strong
                                        *ngIf="user_details.total_donation == '' || user_details.total_donation == 0">$0.00</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-donors-main" *ngIf="topDoners.length > 0">
                        <h4 class="title">Top Donors</h4>
                        <div class="top-donor-item" *ngFor="let doner of topDoners; let i = index">
                            <div class="top-donor-left">
                                <div class="donor-img">
                                    <img [src]="doner.profile_image" alt=""
                                        *ngIf="doner.profile_image && doner.profile_image != ''">
                                    <img src="./assets/images/profile-img.png" alt="" *ngIf="doner.profile_image == ''">
                                </div>
                                <div class="donortitle">
                                    <strong>{{doner.name}}</strong>
                                    <span>{{doner.project_title}}
                                    </span>
                                </div>
                            </div>
                            <div class="top-donor-right"><strong>${{doner.donation_amount}}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12 right">
                <div class="community-inner-right">
                    <div class="post-listing">
                        <!-- loop  -->
                        <div class="post-list-box" *ngFor="let community of finalResponseCommunity;let i = index">
                            <strong class="community-pro-title">
                                {{community.project_title}}
                            </strong>

                            <div class="post-list-main_item">
                                <!-- item -->
                                <div class="post-list-item" [ngClass]="{
                                    'bg-green': community.type && community.type == 1,
                                    'bg-blue': community.type && community.type == 2,
                                    '': community.type && community.type == 0
                                    }">
                                    <div class="post-list-img-icon">
                                        <img [src]="community.user.image" alt=""
                                            *ngIf="community.user.image && community.user.image != ''">
                                        <img src="./assets/images/profile-img.png" alt=""
                                            *ngIf="community.user.image == ''">
                                    </div>
                                    <div class="post-list-contant">
                                        <h6>{{community.user.name}}</h6>
                                        <h5 *ngIf="community.type == 1">{{ community.donation_amount }}</h5>
                                        <h5 *ngIf="community.type == 2">{{ community.volunteer_title }}</h5>
                                        <p>{{community.comment}}</p>
                                        <div class="post-list-video"
                                            *ngIf="community.document_type && community.document_type == 'video'">
                                            <a [href]="community.document" data-fancybox
                                                data-caption="Caption for single image">
                                                <video [src]="community.document"
                                                    *ngIf="community.document && community.document != ''"></video>

                                            </a>
                                        </div>
                                        <div class="post-list-image"
                                            *ngIf="community.document_type && community.document_type == 'image'">
                                            <img [src]="community.document" alt=""
                                                *ngIf="community.document && community.document != ''">
                                        </div>
                                        <div class="post-list-footer">
                                            <div class="post-comment" (click)="hideShowCommentBox(i)">
                                                <span>
                                                    <i class="far fa-comment"></i>
                                                </span>
                                                <strong>{{community.comment_count}}</strong>
                                            </div>
                                            <div class="post-like">
                                                <span>
                                                    <a
                                                        (click)="likeUnlike(community.project_community_id, community.project_id,community.is_like == '0' ? 'like' : 'unlike',$event, i)">
                                                        <i class="fa-heart" [ngClass]="{
                                                                'far':community.is_like == '0',
                                                                'fas':community.is_like == '1'
                                                            }"></i>
                                                    </a>
                                                </span>
                                                <strong>{{community.like_count}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- comments -->
                                <div class="post-list-item-comment-container" *ngIf="showComment[i] == true">
                                    <div class="comment_inner_box">
                                        <!-- form   -->
                                        <div class="comment-form" *ngIf="this.userId">
                                            <div class="comment-form-icon">
                                                <img [src]="profile_image" alt=""
                                                    *ngIf="profile_image && profile_image != ''">
                                                <img src="../assets/images/profile-img.png" alt=""
                                                    *ngIf="!profile_image || profile_image == ''">
                                            </div>
                                            <div class="comment-form-box">
                                                <form action="" [formGroup]="commentForm">
                                                    <div class="input-group">
                                                        <input type="text" placeholder="Write your comment"
                                                            class="form-control" formControlName="comment">
                                                        <button
                                                            (click)="addComment(community.project_community_id,community.project_id, i)">
                                                            <img src="../assets/images/send-icon.png" alt="">
                                                        </button>
                                                    </div>
                                                    <div *ngIf="commentFormSubmit && commentControl['comment'].errors"
                                                        class="text-danger">
                                                        <div
                                                            *ngIf="commentControl && commentControl['comment'].errors['required']">
                                                            Comment is required
                                                        </div>
                                                        <div *ngIf="commentControl['comment'].errors['maxlength']">
                                                            Maximum 500 characters are allowed.
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- comment-item   -->
                                        <div class="post-list-item" *ngFor="let comment of community.comments;">
                                            <div class="post-list-img-icon">
                                                <img [src]="comment.profile_image" alt=""
                                                    *ngIf="comment.profile_image && comment.profile_image != ''">
                                                <img src="./assets/images/profile-img.png" alt=""
                                                    *ngIf="comment.profile_image == ''">
                                            </div>
                                            <div class="post-list-contant">
                                                <h6>{{comment.name}}</h6>
                                                <p>{{comment.comment}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="post-load-more-btn" *ngIf="current_page != last_page">
                        <a (click)="loadMore()" class="btn btn-outline-green">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>