<div class="inner-bnnare bg-background" style="background-image: url(./assets/images/inner-banner.jpg);">
    <div class="container">
        <div class="inner-bnnare-title">
            <strong>Donation</strong>
            <h1>Start A Project</h1>
        </div>
    </div>
</div>

<!-- project-add   -->
<div class="project-main" style="display:none">
    <div class="container">

        <form action="">
            <div class="project-add-section">
                <div class="project-add-box">
                    <h4 class="pro-sub-title">Which kind of Project you want to add?</h4>
                    <div class="select-pro-btn">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="New" checked>
                            <label class="form-check-label" for="New">
                                <span class="material-symbols-outlined">
                                    add_circle
                                </span> New
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="Existing">
                            <label class="form-check-label" for="Existing">
                                <span class="material-symbols-outlined">
                                    deployed_code
                                </span> Existing
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="Emergency-Relief">
                            <label class="form-check-label" for="Emergency-Relief">
                                <span class="material-symbols-outlined">
                                    bolt
                                </span> Emergency Relief
                            </label>
                        </div>
                    </div>
                    <div class="project-add-form">

                        <div class="input-group">
                            <input type="text" placeholder="Project Name" class="form-control">
                        </div>
                        <div class="input-group">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Description"
                                class="form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option selected>Please choose your city</option>
                                        <option value="2">demo</option>
                                        <option value="3">demo</option>
                                        <option value="4">demo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option selected>Please choose your city</option>
                                        <option value="2">demo</option>
                                        <option value="3">demo</option>
                                        <option value="4">demo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="project-sdgs">
                            <label>Select Project SDGs <span class="material-symbols-outlined">
                                    info
                                </span>
                            </label>
                            <div class="input-group">
                                <select class="form-control">
                                    <option selected>Please choose one or more SDG</option>
                                    <option value="2">demo</option>
                                    <option value="3">demo</option>
                                    <option value="4">demo</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- project-footer -->
            <div class="project-footer">
                <ul>
                    <li class="active"><span></span> </li>
                    <li><span></span> </li>
                    <li><span></span> </li>
                </ul>
                <div class="btn-section">
                    <a href="#" class="btn btn-green">NEXT</a>
                    <a href="#" class="btn btn-back">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>


<!-- Project-Media -->

<div class="project-main" style=" display: none;">
    <div class="container">
        <form action="">
            <div class="project-media">
                <h4 class="pro-sub-title">Project Media</h4>
                <div class="project-media-box">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="media-images">
                                <span class="media-title">
                                    <span class="material-symbols-sharp">imagesmode</span>
                                    images
                                </span>
                                <div class="media-list">
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                    </div>
                                    <div class="media-upload">
                                        <span class="material-symbols-sharp">
                                            add_circle
                                        </span>
                                        <input type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="media-video">
                                <span class="media-title">
                                    <span class="material-symbols-outlined">
                                        theaters
                                    </span>
                                    Videos
                                </span>
                                <div class="media-list">
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                        <div class="video-icon">
                                            <span class="material-symbols-outlined ">
                                                play_arrow
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                        <div class="video-icon">
                                            <span class="material-symbols-outlined ">
                                                play_arrow
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                        <div class="video-icon">
                                            <span class="material-symbols-outlined ">
                                                play_arrow
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                        <div class="video-icon">
                                            <span class="material-symbols-outlined ">
                                                play_arrow
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-item">
                                        <img src="./assets/images/media-img.jpg" alt="">
                                        <div class="video-icon">
                                            <span class="material-symbols-outlined ">
                                                play_arrow
                                            </span>
                                        </div>
                                    </div>

                                    <div class="media-upload">
                                        <span class="material-symbols-sharp">
                                            add_circle
                                        </span>
                                        <input type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="media-document">
                                <span class="media-title">
                                    <span class="material-symbols-outlined">
                                        description
                                    </span>
                                    Documents
                                </span>
                                <div class="media-document-box">
                                    <div class="media-document-item">
                                        <span class="material-symbols-outlined doc-icon">
                                            import_contacts </span>
                                        <strong>Document Name 01</strong>
                                        <span class="delete">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </div>
                                    <div class="media-document-item">
                                        <span class="material-symbols-outlined doc-icon">
                                            import_contacts </span>
                                        <strong>Document Name 01</strong>
                                        <span class="delete">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </div>
                                    <div class="media-document-item">
                                        <span class="material-symbols-outlined doc-icon">
                                            import_contacts </span>
                                        <strong>Document Name 01</strong>
                                        <span class="delete">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </div>
                                    <div class="media-document-upload">
                                        <span>Add new document</span>
                                        <input type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- project-footer   -->
            <div class="project-footer">
                <ul>
                    <li class="active"><span></span> </li>
                    <li class="active"><span></span> </li>
                    <li><span></span> </li>
                </ul>
                <div class="btn-section">
                    <a href="#" class="btn btn-green">NEXT</a>
                    <a href="#" class="btn btn-back">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Verify Project Details -->
<div class="project-main" style="">
    <div class="container">
        <form action="">
            <div class="verify-project">
                <h4 class="pro-sub-title">Verify Project Details</h4>
                <div class="verify-project-box">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="pro-information">
                                <h4 class="sub-title">Project Information</h4>
                                <div class="pro-info-box">
                                    <div class="info-item">
                                        <span>Project Type</span>
                                        <strong>New</strong>
                                    </div>
                                    <div class="info-item">
                                        <span>Project Name</span>
                                        <strong>Project Name Display Here</strong>
                                    </div>
                                    <div class="info-item">
                                        <span>Project Description</span>
                                        <strong>Project Description will be display here Project Description will be
                                            display here</strong>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="info-item">
                                                <span>Country</span>
                                                <strong>Country</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="info-item">
                                                <span>City</span>
                                                <strong>City</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-item">
                                        <span>Project SDG</span>
                                        <strong>SDG will display here</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="pro_media_right">
                                <h4 class="sub-title">Project Media</h4>
                                <div class="pro_media_tab">
                                    <ul class="nav nav-pills mb-4" id="pro-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="images-tab" data-bs-toggle="pill"
                                                data-bs-target="#images" type="button" role="tab" aria-controls="images"
                                                aria-selected="true"> <span
                                                    class="material-symbols-sharp">imagesmode</span> Images</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="documents-tab" data-bs-toggle="pill"
                                                data-bs-target="#documents" type="button" role="tab"
                                                aria-controls="documents" aria-selected="false"><span
                                                    class="material-symbols-outlined"> description </span>
                                                Documents</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="videos-tab" data-bs-toggle="pill"
                                                data-bs-target="#videos" type="button" role="tab" aria-controls="videos"
                                                aria-selected="false"><span class="material-symbols-outlined"> theaters
                                                </span> Videos</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pro-tabContent">
                                        <div class="tab-pane fade show active" id="images" role="tabpanel"
                                            aria-labelledby="images-tab">
                                            <div class="media-list">
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="documents" role="tabpanel"
                                            aria-labelledby="documents-tab">
                                            <div class="media-document-box">
                                                <div class="media-document-item">
                                                    <span class="material-symbols-outlined doc-icon">
                                                        import_contacts </span>
                                                    <strong>Document Name 01</strong>

                                                </div>
                                                <div class="media-document-item">
                                                    <span class="material-symbols-outlined doc-icon">
                                                        import_contacts </span>
                                                    <strong>Document Name 01</strong>

                                                </div>
                                                <div class="media-document-item">
                                                    <span class="material-symbols-outlined doc-icon">
                                                        import_contacts </span>
                                                    <strong>Document Name 01</strong>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="videos" role="tabpanel"
                                            aria-labelledby="videos-tab">
                                            <div class="media-list">
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                    <div class="video-icon">
                                                        <span class="material-symbols-outlined ">
                                                            play_arrow
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                    <div class="video-icon">
                                                        <span class="material-symbols-outlined ">
                                                            play_arrow
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                    <div class="video-icon">
                                                        <span class="material-symbols-outlined ">
                                                            play_arrow
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                    <div class="video-icon">
                                                        <span class="material-symbols-outlined ">
                                                            play_arrow
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-item">
                                                    <img src="./assets/images/media-img.jpg" alt="">
                                                    <div class="video-icon">
                                                        <span class="material-symbols-outlined ">
                                                            play_arrow
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- project-footer   -->
             <div class="project-footer">
                <ul>
                    <li class="active"><span></span> </li>
                    <li class="active"><span></span> </li>
                    <li class="active"><span></span> </li>
                </ul>
                <div class="btn-section">
                    <a href="#" class="btn btn-green">NEXT</a>
                    <a href="#" class="btn btn-back">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>