<div class="page-content" style="min-height:659px">
    <!-- BEGIN PAGE HEADER-->
    <div class="portlet box yellow-crusta float-none content-box my-md-4  mx-md-3 border-0">
        <div class="portlet-body form bg-transparent p-3 border-0">
            <!-- <div class="actions text-end mb-lg-0 mb-3">
                <a [routerLink]="['/user-management/users/add']" class="btn btn-success"><i class="fa fa-plus"></i> Add</a>
            </div> -->
            <div class="row mb-4">
                <div class="col-xl-4 col-lg-6 col-sm-7 mb-lg-0 mb-3">
                    <div class="job-form-input w-100 d-inline-block position-relative">
                        <input type="text" [(ngModel)]="search" (keyup)="reloadGetEmployer()"
                            class="form-control ps-5 bg-f1f1f1 border-0 font-18 searh-form" name="search" id="search"
                            placeholder="Search Name & Email">
                        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </div>
                <div class="col-2">
                    <a (click)="resetFilter()" class="btn btn-secondary inline-btn">Reset</a>
                </div>
            </div>
            <div class="table-responsive table-scrollable border-0 corporate-users-table">
                <table class="table table-customize" border="0">
                    <thead>
                        <tr class="head-top">
                            <th scope="col">Sr. no.</th>
                            <th scope="col">Name</th>
                            <th scope="col" >Email</th>
                            <th scope="col">Signup Completed</th>
                            <!-- <th scope="col" (click)="sortOn('group_name')">User Group</th> -->
                            <!-- <th scope="col" (click)="sortOn('status')">Status</th> -->
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="finalResponse.length > 0">
                        <tr *ngFor="let finalRes of finalResponse let i = index">
                            <td scope="col">{{finalRes.sr_no}}</td>
                            <td scope="col">{{finalRes.name}}</td>
                            <td scope="col">{{finalRes.email}}</td>
                            <td scope="col">{{finalRes.signup_completed}}</td>
                            <!-- <td scope="col">{{finalRes.user_group_name}}</td> -->
                            <!-- <td scope="col">{{finalRes.status}}</td> -->
                            <td class="util-btn-margin-bottom-5">
                                <a [routerLink]="['/user-management/corporate-users/details/' + finalRes.id]" type="button"
                                    class="btn btn-outline-success btn-sm"><i class="fa fa-eye"></i></a>
                                <!-- <button [routerLink]="['/user-management/users/edit/' + finalRes.id]" type="button"
                                    class="btn btn-outline-primary btn-sm"><i class="fa fa-edit"></i></button>
                                <button class="btn delete-btn btn-outline-danger btn-sm"
                                    (click)="deleteUser(finalRes.id)" type="button"><i class="fa fa-trash"></i></button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-container *ngIf="finalResponse.length === 0">
                    <div class="row col-12 mt-4">
                        <h4 style="text-align: center"><b>{{noDataFlag}}</b></h4>
                    </div>
                </ng-container>
                <nav aria-label="Page navigation example" class="pt-3" *ngIf="finalResponse.length > 0 && pager.totalPages != 1">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" class="pagination pagination-list">
                        <li class="page-item custom-pagination">
                            <ng-container *ngIf="pager.currentPage === 1">
                                <a data-tooltip="tooltip" title="First" class="page-link custom-page-link"
                                    [ngClass]="{ disabled: pager.currentPage === 1 }" style="cursor: pointer">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="pager.currentPage != 1">
                                <a data-tooltip="tooltip" title="First" class="page-link custom-page-link"
                                    [ngClass]="{ disabled: pager.currentPage === 1 }" (click)="setCurrent(1)">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </ng-container>
                        </li>
                        <li class="page-item custom-pagination">
                            <ng-container *ngIf="pager.currentPage === 1">
                                <a data-tooltip="tooltip" title="PREVIOUS" class="page-link custom-page-link"
                                    [ngClass]="{ disabled: pager.currentPage === 1 }" style="cursor: pointer">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="pager.currentPage != 1">
                                <a data-tooltip="tooltip" title="PREVIOUS" class="page-link custom-page-link"
                                    [ngClass]="{ disabled: pager.currentPage === 1 }"
                                    (click)="setCurrent(pager.currentPage - 1)">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </ng-container>
                        </li>
                        <li *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page"
                            class="page-item custom-pagination">
                            <a class="page-link custom-page-link" (click)="setCurrent(page)" style="cursor: pointer">{{
                                page }}</a>
                        </li>
                        <li class="page-item custom-pagination">
                            <ng-container *ngIf="pager.currentPage === pager.totalPages">
                                <a data-tooltip="tooltip" title="NEXT" class="page-link custom-page-link" [ngClass]="{
                                disabled: pager.currentPage === pager.totalPages
                              }" style="cursor: pointer">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="pager.currentPage != pager.totalPages">
                                <a data-tooltip="tooltip" title="NEXT" class="page-link custom-page-link" [ngClass]="{
                                disabled: pager.currentPage === pager.totalPages
                              }" (click)="setCurrent(pager.currentPage + 1)">
                                    <i class="fa fa-angle-right"></i>
                                    <!-- <img
                                src="/assets/images/right-single-arrow.png"
                                alt="Arrow"
                                class="rl-arrow"
                            /> -->
                                </a>
                            </ng-container>
                        </li>
                        <li class="page-item arrow-pagination">
                            <ng-container *ngIf="pager.currentPage === pager.totalPages">
                                <a data-tooltip="tooltip" title="LAST" class="page-link custom-page-link" [ngClass]="{
                                disabled: pager.currentPage === pager.totalPages
                              }" style="cursor: pointer">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="pager.currentPage != pager.totalPages">
                                <a data-tooltip="tooltip" title="LAST" class="page-link custom-page-link" [ngClass]="{
                                disabled: pager.currentPage === pager.totalPages
                              }" (click)="setCurrent(pager.totalPages)">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </ng-container>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>