<div class="page-content" style="min-height:659px">
  <div class="portlet box blue-steel float-none content-box my-md-4  mx-md-3 border-0">
    <div class="portlet-body form bg-transparent p-3 border-0">
      <form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <c-row class="mb-3">
            <label cLabel="col" cCol [lg]="4" class="control-label text-sm-end text-start">
              Current<span class="required">*</span>
            </label>
            <c-col [lg]="4">
              <div class="input-group">
                <input cFormControl [type]="showPassword ? 'text' : 'password'" formControlName="current_password"
                  [ngClass]="{ 'is-invalid': submitted && f['current_password'].errors }"
                  (input)="makeSaveButtonActive()" />
                <span toggle="#password" class="input-group-text password-eye" [ngClass]="{ 'show': showPassword }"
                  (click)="toggleShowPassword()"><img src="./assets/images/eye-icon.png" alt=""></span>
                <div *ngIf="submitted && f['current_password'].errors" class="text-danger">
                  <div *ngIf="f['current_password'].errors['required']">Current password is required</div>
                </div>
              </div>
            </c-col>
          </c-row>
          <c-row class="mb-4">
            <label cLabel="col" cCol [lg]="4" class="control-label text-sm-end text-start">
              New<span class="required">*</span>
            </label>
            <c-col [lg]="4">
              <div class="input-group">
                <input cFormControl [type]="showNewPassword ? 'text' : 'password'"
                  formControlName="new_password"
                  [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }"
                  (input)="makeSaveButtonActive()" />
                <span toggle="#password" class="input-group-text password-eye" [ngClass]="{ 'show': showNewPassword }"
                  (click)="toggleShowNewPassword()"><img src="./assets/images/eye-icon.png" alt=""></span>
                <div *ngIf="submitted && f['new_password'].invalid" class="text-danger" style="display: block;">
                  <div *ngIf="f['new_password'].errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="f['new_password'].errors?.['pattern']">
                    Password must contain more than 8 characters, 1 numeric,
                    1 capital letter and 1 special character($@!%*?&)
                  </div>
                </div>
              </div>
            </c-col>
          </c-row>

          <c-row class="mb-4">
            <label cLabel="col" cCol [lg]="4" class="control-label text-sm-end text-start">
              Retype New<span class="required">*</span>
            </label>
            <c-col [lg]="4">
              <div class="input-group">
                <input cFormControl [type]="showConfirmPassword ? 'text' : 'password'"
                  formControlName="confirm_password"
                  [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors }"
                  (input)="makeSaveButtonActive()" />
                <span toggle="#confirm_password" class="input-group-text password-eye"
                  [ngClass]="{ 'show': showConfirmPassword }" (click)="toggleShowConfirmPassword()"><img
                    src="./assets/images/eye-icon.png" alt=""></span>
                <div *ngIf="submitted && f['confirm_password'].invalid" class="text-danger">
                  <div *ngIf="f['confirm_password'].errors?.['required']">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f['confirm_password'].errors?.['matching']">
                    The password confirmation does not match
                  </div>
                </div>
              </div>
            </c-col>
          </c-row>
        </div>
        <div class="form-actions footer-action border-0 fluid">
          <div class="col-lg-9 col-sm-12 col-xs-12 frm-button">
            <button class="btn default" type="submit" [disabled]="disabled">Save</button>&nbsp;
            <button class="btn btn-secondary" type="button" routerLink="/user-management/users">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>