.sign-up-page.forget-page .content {
    background-color: #def1e0;
      min-height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
    /* .sign-up-page  */
  .sign-up-page .sign-up-heading {
      font-size: 50px;
      color: #000;
    }
    .sign-up-page .sign-up-text {
      font-size: 20px;
      color: #000;
    }
    .sign-up-page {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 65px);
      padding: 40px 0;
    }
    .sign-up-page .content {
      max-width: 1264px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      border-radius: 39px;
      padding: 50px 100px;
      overflow: hidden;
      width: 90%;
    }
    .sign-up-page .content::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      opacity: 0.17;
      z-index: -1;
    }
    .sign-up-page .label-custom {
      font-size: 20px;
      margin-bottom: 1px;
    }
    .sign-up-page .input-custom {
      width: 100%;
      border: 1.5px solid #959595;
      border-radius: 9px;
      padding: 8px 10px;
      font-size: 20px;
    }
    
    .submit-btn {
      background-color: #417d46;
      border-radius: 10px !important;
      padding: 10px;
      color: #fff;
      font-size: 20px
    }
    .sign-up-page .login-now-text {
      color: #000;
      font-size: 18px;
      margin: 10px 0 0;
    }
    .sign-up-page .form-group-custom {
      margin-bottom: 13px;
    }
    .sign-up-page .number-input-width {
      max-width: calc(100% - 100px);
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
    .sign-up-page .select-width {
      max-width: 100px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }