<section class="sign-up-page forget-page">
  <div class="content">
    <div class="row w-100 align-items-center">
      <div class="col-lg-6">
        <div class="sign-up-content">
          <h1 class="sign-up-heading">
            Reset Your <span class="d-block text-color">Password?</span>
          </h1>
          <p class="sign-up-text">
            No worries! Enter your email and we will
            <span class="d-md-block">send you a reset.</span>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="sign-up-form">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12">
                <div class="form-group-custom">
                  <label for="name" class="form-label label-custom">Password</label>
                  <input formControlName="token" id="token" type="hidden" [(ngModel)]="resetToken" class="form-control">
                  <div class="input-group password-input">
                  <input [type]="showPassword ? 'text' : 'password'" [ngClass]="{
                      'is-invalid': submitted && f['password'].errors
                    }" formControlName="password" class="form-control input-custom" id="password" name="password" />
                  <span toggle="#password" class="input-group-text password-eye" [ngClass]="{ 'show': showPassword }"
                  (click)="toggleShowPassword()"><img src="./assets/images/eye-icon.png" alt=""></span>
                  </div>
                  <div *ngIf="submitted && f['password'].errors" class="text-danger">
                    <div *ngIf="f['password'].errors['required']">
                      Password is required
                    </div>
                    <div *ngIf="f['password'].errors['pattern']">
                      Password must contain more than 8 characters, 1 numeric, 1
                      capital letter and 1 special character($@!%*?&).
                    </div>
                  </div>
                </div>
                <div class="form-group-custom">
                  <label for="name" class="form-label label-custom">Confirm Password</label>
                  <div class="input-group password-input">
                  <input [type]="showConfirmPassword ? 'text' : 'password'" [ngClass]="{
                      'is-invalid': submitted && f['confirm_password'].errors
                    }" formControlName="confirm_password" class="form-control input-custom" id="confirm_password"
                    name="confirm_password" />
                  <span toggle="#confirm_password" class="input-group-text password-eye"
                    [ngClass]="{ 'show': showConfirmPassword }" (click)="toggleShowConfirmPassword()"><img
                      src="./assets/images/eye-icon.png" alt=""></span>
                    </div>
                  <div *ngIf="submitted && f['confirm_password'].errors" class="text-danger">
                    <div *ngIf="f['confirm_password'].errors['required']">
                      Confirm Password is required
                    </div>
                    <div *ngIf="f['confirm_password'].errors['matching']">
                      The password confirmation does not match
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn submit-btn d-block w-100">
                  Submit
                </button>
                <p class="text-center login-now-text">
                  Already a member?
                  <a [routerLink]="['/login']" class="text-color">Log In</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>